.movie-list{
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.list-movie{
    margin-left: 10%;
}

.list-movie a img{
    width: 100%;
    height: 250px;
    display: block;
}