.poster{
    display: flex;
    flex-wrap: wrap;
}

.poster-under{
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    
} 

.imaging{
    height: 300px;
    position: relative;
}

.imaging a img{
    width: 100%;
    height: 250px;
    display: block;    
}

.imaging button{
    width: 100%;
    cursor: pointer;
}

.remove{
    position: absolute;
    top: 76.8%;
}

